@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Usuń Czytelnika";
}

<h1>Usuń Czytelnika</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<h3>Czy na pewno chcesz usunąć tego czytelnika?</h3>
<div>
    <h4>@Model.UserName (@Model.Email)</h4>
    <hr />
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>